  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #40535d;
            color: #333;
        }
        header {
            background: #303e4c;
            color: white;
            text-align: center;
            padding: 20px;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            padding: 20px;
        }
        section {
            background: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
